

<!doctype html>
<html lang = "en">
   <head>
      <meta charset = "utf-8">
      <title>jQuery UI Tabs functionality</title>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css" rel = "stylesheet">   
    <link href="resto.css" rel="stylesheet">

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="resto.js"></script>

   </head>
   
   <body>
<h1>Resto trop bien !</h1>
<p>Miam ici on mange bien</p>


      <div id = "tabs-5">
         <ul>
            <li><a href = "#Présentation">Présentation</a></li>
            <li><a href = "#Menu">Menu</a></li>
            <li><a href = "#Lorem">Lorem</a></li>
         </ul>
         <div id = "Présentation">
            <p>Tu aime bien alors aime bien </p>
           <!-- <p>Viens nous voir OKLM</p> -->
          </div>
         <div id = "Menu">
            <p>De la bonne bouffe </p>

         </div>
         <div id = "Lorem">
            <p>
               La vie jaime bien
            </p>
            <p>
               OOOOOOOOOOOOOOOOOH oui cest bien
            </p>
         </div>
      </div>
   </body>
</html>
